body {
    flex: content;
    background-color: #151515;
    color: #eee;
    font-family: 'Share Tech Mono', monospace;
    user-select: none;
}

.hidden {
    display: none;
}

.info {
    text-align: center;
    top: 0;
    left: 0;
    margin: 100px;
}

.button {
    background-color: #111;
    border: solid 1px #4CFF13;
    padding: 8px 25px;
    font-size: 26px;
    letter-spacing: 2px;
    cursor: pointer;
}

.start {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}